html{
    min-height: 100%;
}

body{
    font-size: 12px;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-position: bottom;
    color: black;
}

.container{
    height:100%;
}

#container-home{
    background-color:rgba(255, 255, 255, 0.5);
}

.border{
    background-color:rgba(255, 255, 255, 1.0);
    border: 2px solid blue;
    border-radius: 10px;
    min-height: 60px;
    color: blue;
}

.linkBank{
    color: blue;
}

.border>p{
    padding-top: 10px;
}

.second-row{
    margin-top: 50px;
}

.pointer{
    cursor: pointer;
}

.table{
    text-align: center;
    font-size: 10px;
    color: black;
}

.table td{
    border: 1px solid black!important;
    vertical-align: middle!important;
}

.table tr{
    height: 20px;
}

.iconPlus{
    margin-top: 5px;
    opacity: 0.5;
    display: block;
}
.iconPlus:hover{
    opacity: 1.0;
    cursor: pointer;
}

.addForm{
    display: none;
    margin-top: 10px;
}

.edit, .saveNewNameBank{
    margin-left: 5px;
    font-size: 14px;
    color: green;
    cursor: pointer;
}

.green{
    color: green;
    cursor: pointer;
}

.red{
    color: red;
    cursor: pointer;
}

.linkBank{
    display: inline-block;
    margin-top: 20px;
}

.closedEditBank, .closedAddBank{
    font-size: 14px;
    margin-left: 5px;
    color: red;
    cursor: pointer;
}

.newName{
    display: none;
}

.deleteRow{
    color: red;
    cursor: pointer;
}

li{
    font-size: 17px;
}

li:hover{
    font-weight:bold;
}

.search{
    margin-bottom: 20px;
}

.dateSelectParent{
    width: inherit;
}

.selectize-input{
    overflow: inherit!important;
}

.selectize-control{
    width: 230px!important;
}

@media (max-width: 768px){

    .dateSelectParent{
        width: 100%!important;
    }

    .selectize-control{
        width: 100%!important;
    }
}